@mixin centering-xy() {
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

@mixin centering-x() {
    left: 50%;

    transform: translateX(-50%);
}

@mixin centering-y() {
    top: 50%;

    transform: translateY(-50%);
}